input {
  height: 24px;
  margin-bottom: 5px;
}
select {
  height: 30px;
  margin-bottom: 5px;
}
button {
  height: 30px;
  margin-bottom: 5px;
}
.error {
  color: red;
  margin: 0;
  font-size: 0.8rem;
}
