header {
  line-height: 1.5;
  max-height: 100vh;
  display: flex;
  align-items: center;
  padding-right: calc(var(--section-gap) / 2);
}

.wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
nav {
  font-size: 1rem;
  text-align: left;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}
